name: Linux build
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  workflow_call:
jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - runner: ubuntu-24.04
            artifact_name: outlet-linux-amd64
          - runner: ubuntu-24.04-arm
            artifact_name: outlet-linux-arm64
    steps:
      - uses: actions/checkout@v4
      - name: Install flutter dependencies
        run: |
          sudo apt-get update -y;
          sudo apt-get install -y curl git unzip xz-utils zip libglu1-mesa \
            clang cmake git \
            ninja-build pkg-config \
            libgtk-3-dev liblzma-dev \
            libstdc++-12-dev \
            flatpak libflatpak-dev
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v3
        with:
          channel: stable
          version: latest
      - name: Install dependencies
        run: flutter pub get
      - name: Build project
        run: flutter build linux --build-name=${{ github.ref_name }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: build/linux/*/release/bundle/outlet
