name: Build Release
on:
  push:
    tags:
      - '[0-9]*.[0-9]*.[0-9]*'
permissions:
  contents: write
jobs:
  build-artifacts:
    uses: ./.github/workflows/linux-build.yaml

  release:
    needs: build-artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create amd64 release directory
        run: mkdir outlet-linux-amd64
      - name: Create arm64 release directory
        run: mkdir outlet-linux-arm64
      - name: Download All Artifacts
        uses: actions/download-artifact@v5
        with:
          path: outlet-linux-binaries
          pattern: outlet-linux-*
          merge-multiple: true
      - name: Create amd64 tarball
        run: |
          mv outlet-linux-binaries/x64/release/bundle/outlet outlet-linux-amd64/
          install -D -d outlet-linux-binaries/x64/release/bundle/lib outlet-linux-amd64/usr/
          install -D dist/io.github.jardon.Outlet.svg outlet-linux-amd64/usr/share/icons/hicolor/scalable/apps/io.github.jardon.Outlet.svg
          install -D dist/io.github.jardon.Outlet.desktop outlet-linux-amd64/usr/share/applications/io.github.jardon.Outlet.desktop
          install -D dist/io.github.jardon.Outlet.metainfo.xml outlet-linux-amd64/usr/share/metainfo/io.github.jardon.Outlet.metainfo.xml
          chmod 744 outlet-linux-amd64/outlet
          tar -czvf outlet-linux-amd64-${{ github.ref_name }}.tar.gz outlet-linux-amd64
      - name: Create arm64 tarball
        run: |
          mv outlet-linux-binaries/arm64/release/bundle/outlet outlet-linux-arm64/
          install -D -d outlet-linux-binaries/arm64/release/bundle/lib outlet-linux-arm64/usr/
          install -D dist/io.github.jardon.Outlet.svg outlet-linux-arm64/usr/share/icons/hicolor/scalable/apps/io.github.jardon.Outlet.svg
          install -D dist/io.github.jardon.Outlet.desktop outlet-linux-arm64/usr/share/applications/io.github.jardon.Outlet.desktop
          install -D dist/io.github.jardon.Outlet.metainfo.xml outlet-linux-arm64/usr/share/metainfo/io.github.jardon.Outlet.metainfo.xml
          chmod 744 outlet-linux-arm64/outlet
          tar -czvf outlet-linux-arm64-${{ github.ref_name }}.tar.gz outlet-linux-arm64
      - name: Create GitHub Release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          tag_name: ${{ github.ref_name }}
          files: |
            outlet-linux-amd64-${{ github.ref_name }}.tar.gz
            outlet-linux-arm64-${{ github.ref_name }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
